.words{
    background-color: rgb(184, 141, 177);
    padding: 20px;
    margin: 5%;
    border-style: solid;color: crimson;
    
}
 .container{
    border-style: dotted;color: chartreuse;
 }  

    

