.words{
    background-color: white;
    padding: 20px;
    margin: 5%;
    border-style: solid;color: crimson;
    font-style: italic;
    
}
 .container{
    border-style: dotted;color: chartreuse;
 }  

    

